# Python for Data Science and AI, Week 2

## 1- TUPLES AND LISTS

In [16]:
# Tuples are in paranthesis
a=(1,4,5,17,'Mohammad')
print(type(a))
print(a[4])

<class 'tuple'>
Mohammad

In [17]:
# Tuples are immutable, meaning that we can not change them
a[1]=3

TypeError: 'tuple' object does not support item assignment

In [55]:
# Tuples nesting
b=(1,(2,3),('Ali','Mohammad'))
print(b[2])
print(b[2][0])

('Ali', 'Mohammad')
Ali

In [56]:
# Lists are similar to tuples but they are mutable
c=[1,2,[3,5],'Mohammad']
print(c)
c[2]=4
print(c)

[1, 2, [3, 5], 'Mohammad']
[1, 2, 4, 'Mohammad']

In [65]:
# add two tuples or lists
print((1,2,3)+(4,'Ali'))
print([1,3,3]+[4])

(1, 2, 3, 4, 'Ali')
[1, 3, 3, 4]

Cloning to avoid aliasing

In [79]:
# Aliasing list: if we change the a value in the list, it will be changed in all other subsequent variables
a=[1,2,'Ali']
b=a
print(a)
print(b)
a[2]='Mohammad'
print(a)
print(b)
print('-------------------')
# note, to avoid this, we can clone the list to a new variable
c=a[:]
print(a)
print(c)
a[2]='Hassan'
print(a)
print(c)

[1, 2, 'Ali']
[1, 2, 'Ali']
[1, 2, 'Mohammad']
[1, 2, 'Mohammad']
-------------------
[1, 2, 'Mohammad']
[1, 2, 'Mohammad']
[1, 2, 'Hassan']
[1, 2, 'Mohammad']

## 2- DICTIONARIES

In [21]:
# create a dictionary
Dict1={"key1":1,"key2":"2","key3":(3,4,5),("key4"):[5,6],3:15}
print(Dict1)
print(Dict1["key3"][0:2])
print(Dict1[3])

{'key1': 1, 'key2': '2', 'key3': (3, 4, 5), 'key4': [5, 6], 3: 15}
(3, 4)
15

In [20]:
# delete an element from the dictionary
del(Dict1["key2"])
print(Dict1)

{'key1': 1, 'key3': (3, 4, 5), 'key4': [5, 6], 3: 15}

In [22]:
# verify if an element is in the dictionary
'key3' in Dict1

True

In [23]:
# obtain the keys of the dictionary
Dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 3])

In [25]:
# obtain the values of the elements in the dictionary
Dict1.values()

dict_values([1, '2', (3, 4, 5), [5, 6], 15])

## 3- SETS

In [2]:
# Sets are types of collections
# note: duplicate items in a set will present only once in the final product
A={'A','B','C','B','B','D','E'}
print(A)

{'B', 'D', 'E', 'A', 'C'}

In [3]:
# add element to a set
A.add('T')
print(A)

{'B', 'T', 'D', 'E', 'A', 'C'}

In [4]:
# remove an element from a set
A.remove('T')
print(A)

{'B', 'D', 'E', 'A', 'C'}

In [6]:
# Define a new set
B={'B','D','F','G'}
print(B)

{'B', 'F', 'G', 'D'}

In [13]:
# find elements that exist in both sets A and B (intersect)
print(A&B)
print(A.intersection(B))# Alternative method

{'B', 'D'}
{'B', 'D'}

In [8]:
# find the union of both sets A and B
A.union(B)

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [15]:
# Create a new set
C={'A','B'}
# Check if C is a subset of A
print(C.issubset(A))
# Check if superset
print(C.issuperset(A))

True
False

In [11]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [12]:
# Find the difference in set A but not set B

A.difference(B)

{'A', 'C', 'E'}